# Debug
VITE_DEBUG_IS_STRICT_MODE=false
VITE_DEBUG_IS_MOCK=
VITE_DEBUG_MIDDLEWARE_I18NEXT=false

# Firebase
VITE_FIREBASE_CRED_APIKEY=
VITE_FIREBASE_CRED_AUTHDOMAIN=
VITE_FIREBASE_CRED_DATABASEURL=
VITE_FIREBASE_CRED_PROJECTID=
VITE_FIREBASE_CRED_STORAGEBUCKET=
VITE_FIREBASE_CRED_MESSAGINGSENDERID=
VITE_FIREBASE_CRED_MEASUREMENTID=
VITE_FIREBASE_CRED_APPID=

VITE_FIREBASE_CONFIG_FUNCTION_REGION=asia-southeast1

# Web Notification
VITE_FIREBASE_CRED_WEB_PUSH=

# Test
VITE_TEST_IS_USE=
VITE_TEST_ID=
VITE_TEST_PASSWORD=