# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

sslcert
mapboxkey

node_modules
dist
dist-ssr
sslcert
*.local

# Editor directories and files
.vscode/*
!.vscode/settings.json
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

.env

analytics/*

.secret/*

todo-list.md

hosting_major/public/*
hosting_minor/public/*

#capacitor js
ios
android

firebase-messaging-sw.js

functions