.gradient-wave {
  background: linear-gradient(-45deg, #ffc080, #ffa28f, #ff7ea3, #f2aaff);
  animation: gradient 15s ease infinite;
  background-size: 200% 200%;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

/* CSS */
.button {
  background-color: #ff9955;
  border-radius: 4px;
  box-shadow: rgba(0, 0, 0, 0.1) 0 2px 4px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  font-size: 16px;
  font-weight: 400;
  outline: none;
  outline: 0;
  padding: 10px 25px;
  text-align: center;
  transform: translateY(0);
  transition:
    transform 150ms,
    box-shadow 150ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button:hover {
  box-shadow: rgba(0, 0, 0, 0.15) 0 3px 9px 0;
  transform: translateY(-3px);
}

@media (min-width: 768px) {
  .button {
    padding: 10px 30px;
  }
}

.pop-in {
  position: absolute;
  bottom: -300px;
  animation-name: animatebottom;
  animation-duration: 0.8s;
  animation-fill-mode: forwards;
}
@keyframes animatebottom {
  from {
    bottom: -300px;
    opacity: 0;
  }
  to {
    bottom: 0;
    opacity: 1;
    position: relative;
  }
}
